body{
    background-color: #d0cccc;
}

#container{
    padding: 0;
    background-color: white;
}

.fundo{
    background-color: #007bff;
}

.col-md-auto{
    background-color: #007bff;
}

.col-md-auto p{
    font-weight: bold;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.row{
    margin: 0 !important;
}

.itens{
    padding-top: 2%;
    padding-bottom: 4%;
    margin-left: 30%;
    margin-right: 25%;
}

p.title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 3%;
    padding-left: 0 !important;
}